body{
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

.card {
  border: 3px groove #99a3b2;
  height: 400px;
  width: 250px;
  margin-bottom: 40px;
  color: #ddd;
  display: table;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.card:hover{
    cursor: pointer;
}

.card-img{
  background: url("../img/flash.jpg") no-repeat center;
}

.card span {
  font-size: 40px;
  text-shadow: -2px 2px #8e4040,
               -2px -2px #8e4040,
               2px -2px #8e4040,
               2px 2px #8e4040;
  display: table-cell;
  vertical-align: middle;
}

.left-margin {
  margin-left: 20px;
}

.answer {
  font-size: 20px;
  text-shadow: -1px 1px #8e4040,
               -1px -1px #8e4040,
               1px -1px #8e4040,
               1px 1px #8e4040;
  display: table-cell;
  vertical-align: middle;
  z-index: 9999;
}

.stage{
  -webkit-perspective: 1000;
}

.answer, .flip{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.backside {
  display: none!important;
}

.flip p{
  color: #8e4040;
  text-shadow: none;
  font-family: monospace;
}
